<div class="pc" id="our-products">
	<div class="pc-walker">
		{{#each carousel}}
		<div class="pc-holder">
			{{#each .}}
			<a href="#" class="pc-item">
				<span class="pc-price-bg"></span>
				<span class="pc-price"><span class="pc-price-icon"><svg class="icon icon-leaf"><use xlink:href="img/iconmoon/symbol-defs.svg#icon-shopping-cart"></use></svg></span> <span class="pc-price-number">R$ {{price}}</span></span>
				<img src="{{img}}" alt="{{name}}" />
			</a>
			{{/each}}
		</div>
		{{/each}}
	</div>
</div>