<div class="pc" id="our-products">
	<div class="pc-walker">
		{{#each news}}
		<div class="pc-holder">
			{{#each .}}
			<a href="{{baseUrl}}product/{{id}}" class="pc-item">
				<span class="pc-price-bg"></span>
				<span class="pc-price"><span class="pc-price-icon"><span class="icon icon-shopping-cart"></span></span> <span class="pc-price-number">R$ {{price}}</span></span>
				<img src="{{baseUrl}}{{images.PRODUCT_SMALL}}" alt="{{name}}" />
			</a>
			{{/each}}
		</div>
		{{/each}}
	</div>
</div>