<div class="header row">
	<div class="col-lg-2 col-md-2 col-sm-12">
		<h1><a href="#"><img src="img/logo.svg" alt="Leaf" /></a></h1>
	</div>
	<div class="col-lg-6 col-md-5 col-sm-6">
		<form class="top-search row" action="#" id="{{id}}">
			<div class="top-search-input col-lg-10 col-md-10 col-sm-8 col-xs-10">
				<input type="text" name="search" id="search" class="form-control" placeholder="Procure seu produto (ex: biscoito de chocolate)" />
			</div>
			<div class="top-search-button col-lg-2 col-md-2 col-sm-4 col-xs-2">
				<button type="submit" class="btn btn-link btn-block"><svg class="icon"><use xlink:href="img/iconmoon/symbol-defs.svg#icon-search"></use></svg></button>
			</div>
		</form>
	</div>
	<div class="col-lg-4 col-md-5 col-sm-6">
		<ul class="nav nav-pills pull-right top-menu">
			<li role="presentation" class="active"><a href="#">Registrar</a></li>
			<li role="presentation" ><a href="#">Fazer login</a></li>
			<li role="presentation" ><a href="#">Carrinho <svg class="icon icon-leaf"><use xlink:href="img/iconmoon/symbol-defs.svg#icon-shopping-cart"></use></svg></a></li>
		</ul>
	</div>
</div>