<div class="other-menus row">
	<div class="col-lg-3 col-md-3 col-sm-6">
		<h2>Compre conosco</h2>
		<ul class="menu-list">
			<li><a href="#">Por que comprar conosco?</a></li>
			<li><a href="#">Como comprar</a></li>
			<li><a href="#">Forma de entrega</a></li>
		</ul>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6">
		<h2>Informações</h2>
		<ul class="menu-list">
			<li><a href="#">Nossa história</a></li>
			<li><a href="#">Entre em contato</a></li>
		</ul>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6">
		<h2>Junte-se à nós</h2>
		<ul class="menu-list">
			<li><a href="#">Por que ser um representante?</a></li>
			<li><a href="#">Como ser um representante</a></li>
			<li><a href="#">Envie seu currículo</a></li>
		</ul>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6">
		<h2>Conecte-se</h2>
		<ul class="social">
			<li class="facebook"><a href="#"><svg class="icon icon-leaf"><use xlink:href="img/iconmoon/symbol-defs.svg#icon-facebook"></use></svg></a></li>
		</ul>
	</div>
</div>