{{#> layout}}
	{{#*inline "content"}}
<div class="cart">
	<h2 class="title-diviser">
		Meu carrinho
		<button class="btn btn-success btn-lg cart-finish">Comprar</button>
	</h2>

	<p>Confira os produtos que você escolheu, e se desejar, continue navegando por nosso site.</p>

	<div class="table-holder">
		<div class="header row">
			<div class="col-lg-4">Produto</div>
			<div class="col-lg-2 column-center">Quantidade</div>
			<div class="col-lg-2 cart-price">Valor Unitário</div>
			<div class="col-lg-2 cart-price">Valor Total</div>
			<div class="col-lg-2 cart-price">Remover</div>
		</div>

		{{#each items}}
		<div class="product row">
			<div class="col-lg-1"><img src="{{baseUrl}}{{path}}" class="cart-prod-image" /></div>
			<div class="col-lg-3">{{name}}</div>
			<div class="col-lg-2 product-quantity">
				{{quantity}}
				{{!<a href="#" class="product-quantity-less">-</a>
				<input type="text" id="quantity-input" class="form-control" value="1" />
				<a href="#" class="product-quantity-more">+</a>}}
			</div>
			<div class="col-lg-2 cart-price">{{currency value}}</div>
			<div class="col-lg-2 cart-price">{{currency total}}</div>
			<div class="col-lg-2 cart-price"><a href="{{baseUrl}}rest/cart/{{id}}" class="btn btn-danger remove-cart-item"><span class="icon icon-bin"></span></a></div>
		</div>
		{{/each}}
	</div>

	<div class="cart-footer">
		<div class="cart-subtotal column-right">
			<span>Subtotal: <strong>{{currency subtotal}}</strong></span>
		</div>

		<div class="cart-tax column-right">
			<span>Frete: <strong>{{currency tax}}</strong></span>
		</div>

		<div class="row cart-total">
			<div class="col-lg-6"><strong>Atenção:</strong> O prazo de entrega começa a contar a partir da aprovação do pagamento.</div>
			<div class="col-lg-6 column-right"><span>Total: <strong>{{currency total}}</strong></span></div>
		</div>

		<div class="column-right">
			<button class="btn btn-success btn-lg cart-finish">Comprar</button>
		</div>
	</div>
</div>
	{{/inline}}
{{/layout}}