{{#> layout}}
	{{#*inline "content"}}
<div class="highlight">
	{{#each highlight}}
		{{#if BIGGER}}
	<a href="{{baseUrl}}product/{{id}}" class="hg-left" style="background-image:url('{{images.PRODUCT_BIGGER}}');">
		<span class="hg-title">
			<strong>{{name}}</strong>
			<span>{{description}}</span>
		</span>
	</a>
		{{/if}}
	{{/each}}
	<div class="hg-right-holder">
		{{#each highlight}}
		{{#unless BIGGER}}
			{{#if BIG}}
		<a href="{{baseUrl}}product/{{id}}" class="hg-right-top" style="background-image:url('{{images.PRODUCT_BIGGER}}');">
			{{else}}
		<a href="{{baseUrl}}product/{{id}}" class="hg-right-bottom" style="background-image:url('{{images.PRODUCT_BIGGER}}');">
			{{/if}}
			<span class="hg-title">
				<strong>{{name}}</strong>
				<span>{{description}}</span>
			</span>
		</a>
		{{/unless}}
		{{/each}}
	</div>
</div>
	{{/inline}}
{{/layout}}