{{#> layout}}
	{{#*inline "content"}}
<div class="highlight">
	<a href="#" class="hg-left" style="background-image:url('img/graos.jpg');">
		<span class="hg-title">
			<strong>Grãos</strong>
			<span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem</span>
		</span>
	</a>
	<div class="hg-right-holder">
		<a href="#" class="hg-right-top" style="background-image:url('img/graos.jpg');">
			<span class="hg-title">
				<strong>Torradas</strong>
				<span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem</span>
			</span>
		</a>
		<a href="#" class="hg-right-bottom" style="background-image:url('img/graos.jpg');">
			<span class="hg-title">
				<strong>Promoções</strong>
				<span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem</span>
			</span>
		</a>
	</div>
</div>
	{{/inline}}
{{/layout}}