{{#> layout}}
	{{#*inline "content"}}
<div class="how-to-buy">
	<h2 class="title-diviser">Como comprar?</h2>

	<div class="padding-to-title">
		<p>
			Nos da empresa Leaf, disponibilizamos o site para compra direta, utilizando o sistema de pagamentos <b>PagSeguro</b>. Isso quer dizer que toda a transação de pagamento, só acontece <b>dentro do site da PagSeguro</b>.
			Você escolhe primeiramente os produtos que irá comprar, aqui no nosso site. Após isso, você irá confirmar no carrinho, a lista de itens que escolheu e ao aceitar comprar - clicando no botão <b>comprar</b> - você
			será <b>redirecionado para o site da PagSeguro</b>. Lá toda a transação acontecerá e você terá garantias que receberá seu produto através da própria PagSeguro.
		</p>
	</div>

	<h2 class="title-diviser">1. Comprador e vendedor concordam com os termos</h2>

	<div class="padding-to-title">
		<p>Ambas as partes concordam com os termos da compra, que incluem:</p>
		<ul>
			<li>Descrição da mercadoria;</li>
			<li>Preço de venda;</li>
			<li>Tempo de inspeção;</li>
			<li>Demais informações sobre o envio.</li>
		</ul>
	</div>

	<h2 class="title-diviser">2. Comprador paga via PagSeguro, e o vendedor envia a mercadoria</h2>

	<div class="padding-to-title">
		<p>O comprador efetua o pagamento pelo meio de pagamento escolhido (cartão de crédito, Saldo PagSeguro, débito online / TEF ou boleto). O pagamento é aprovado após a análise da transação pelo PagSeguro. A aprovação geralmente acontece em tempo real, mas o tempo de processamento e análise pode variar dependendo do tipo de pagamento.</p>

		<p>Assim que o pagamento estiver com o status de "aprovado", o vendedor será informado pelo PagSeguro e poderá enviar a mercadoria. Ele deverá fornecer as informações necessárias para o rastreamento da mercadoria e comprovação da entrega.</p>
	</div>

	<h2 class="title-diviser">3. Comprador aceita a mercadoria</h2>

	<div class="padding-to-title">
			<p>O comprador terá um prazo de até 14 dias após o pagamento do produto ou serviço para abrir uma disputa contra o vendedor, a fim de solucionar qualquer problema ocorrido com a mercadoria ou serviço. Para isso basta acessar a conta PagSeguro, ir até o menu Disputas ou entrar na transação que deseja iniciar uma disputa. O valor do pagamento ficará bloqueado e o PagSeguro solicitará ao comprador e ao vendedor as informações necessárias para o processo de análise da disputa.</p>

			<p>Ao final da análise, o valor da transação poderá ser devolvida ao comprador, ou o saldo liberado ao vendedor. O PagSeguro nunca retém o saldo das transações.</p>
	</div>
</div>
	{{/inline}}
{{/layout}}