{{#> layout}}
	{{#*inline "content"}}
<div class="product">
	<div class="product-images">
		<div class="product-image-bigger">
			<img src="{{baseUrl}}img/graos.jpg" alt="" />
		</div>

		<ul class="product-image-list">
			<li><a href="#"><img src="{{baseUrl}}img/listagem.jpg" /></a></li>
			<li><a href="#"><img src="{{baseUrl}}img/listagem.jpg" /></a></li>
			<li><a href="#"><img src="{{baseUrl}}img/listagem.jpg" /></a></li>
		</ul>
	</div>

	<div class="product-info">
		<span class="product-stock has-stock">Disponibilidade <span><span class="icon icon-checkmark"></span></span></span>
		<h3>Bolacha</h3>

		<span class="product-price">R$ 12,00</span>

		<hr />

		<p class="product-description">
			<strong>Descrição:</strong>
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. When an unknown printer took a galley of type.
		</p>

		<hr />

		<div class="row">
			<div class="col-lg-3 product-quantity">
				<label for="quantity-input">Quantidade</label>
				<a href="#" class="product-quantity-less">-</a>
				<input type="text" id="quantity-input" class="form-control" value="1" />
				<a href="#" class="product-quantity-more">+</a>
			</div>
			<div class="col-lg-5">
				<button class="btn btn-warning btn-block product-add-to-cart">
					<span><span class="icon icon-bag"></span></span>
					Adicionar ao carrinho
				</button>
			</div>
			<div class="col-lg-4">
				<a href="#" class="btn btn-link btn-block">Comprar</a>
			</div>
		</div>
	</div>

	<div class="similar-products" id="similar-products">
		<h3>Produtos Similares</h3>

		<div class="similar-pager" data-pc-pager="similar-products">
			<a href="#" class="pc-page-left"><span class="icon icon-chevron-thin-left"></span></a>
			<a href="#" class="pc-page-right"><span class="icon icon-chevron-thin-right"></span></a>
		</div>

		<div class="similar-container">
			<div class="pc-walker">
				{{#each news}}
				<div class="pc-holder">
					<a href="/product/2" class="pc-item"><img src="{{baseUrl}}img/listagem.jpg" alt="Cookie"></a>
					<a href="/product/2" class="pc-item"><img src="{{baseUrl}}img/listagem.jpg" alt="Cookie"></a>
					<a href="/product/2" class="pc-item"><img src="{{baseUrl}}img/listagem.jpg" alt="Cookie"></a>
					<a href="/product/2" class="pc-item"><img src="{{baseUrl}}img/listagem.jpg" alt="Cookie"></a>
					<a href="/product/2" class="pc-item"><img src="{{baseUrl}}img/listagem.jpg" alt="Cookie"></a>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>
	{{/inline}}
{{/layout}}