{{#> layout}}
	{{#*inline "content"}}
<div class="product">
	<div class="product-images">
		<div class="product-image-bigger">
			<img src="{{baseUrl}}{{product.images.0.PRODUCT_VIEW.path}}" alt="" />
		</div>

		<ul class="product-image-list">
			{{#each product.images}}
			<li><a href="{{baseUrl}}{{PRODUCT_VIEW.path}}" class="product-image"><img src="{{baseUrl}}{{PRODUCT_SMALLEST.path}}" /></a></li>
			{{/each}}
		</ul>
	</div>

	<div class="product-info">
		<span class="product-stock has-stock">Disponibilidade <span><span class="icon icon-{{#if product.available}}checkmark{{else}}x{{/if}}"></span></span></span>
		<h3>{{product.name}}</h3>

		<span class="product-price">R$ {{product.value}}</span>

		<hr />

		<p class="product-description">
			<strong>Descrição:</strong>
			{{product.description}}
		</p>

		<hr />

		<div class="row">
			{{#if product.available}}
			<div class="col-lg-3 product-quantity" data-limit="{{product.quantity}}">
				<label for="quantity-input">Quantidade</label>
				<a href="#" class="product-quantity-less">-</a>
				<input type="text" id="quantity-input" class="form-control" value="1" />
				<a href="#" class="product-quantity-more">+</a>
			</div>
			<div class="col-lg-5">
				<button class="btn btn-warning btn-block product-add-to-cart">
					<span><span class="icon icon-bag"></span></span>
					Adicionar ao carrinho
				</button>
			</div>
			<div class="col-lg-4">
				<a href="#" class="btn btn-link btn-block">Comprar</a>
			</div>
			{{else}}
			<div class="col-lg-12 col-md-12">
				<h4 class="product-unavailable">Produto indisponível no momento.</h4>
			</div>
			{{/if}}
		</div>
	</div>

	<div class="similar-products" id="similar-products">
		{{#if product.similars}}
		<h3>Produtos Similares</h3>

		<div class="similar-pager" data-pc-pager="similar-products">
			<a href="#" class="pc-page-left"><span class="icon icon-chevron-thin-left"></span></a>
			<a href="#" class="pc-page-right"><span class="icon icon-chevron-thin-right"></span></a>
		</div>

		<div class="similar-container">
			<div class="pc-walker">
				{{#each product.similars}}
				<div class="pc-holder">
					{{#each .}}
					<a href="{{baseUrl}}product/{{id}}" class="pc-item"><img src="{{baseUrl}}{{path}}" alt="{{name}}"></a>
					{{/each}}
				</div>
				{{/each}}
			</div>
		</div>
		{{else}}
		<h2>Desculpe, não encontramos produtos similares à este.</h2>
		{{/if}}
	</div>
</div>
	{{/inline}}
{{/layout}}