.cart {
	.table-holder {
		padding: 20px;
	}

	.cart-finish {
		border-radius: 0px;
		border-bottom: 3px solid #2C982C;
		margin-right: -20px;

		.load-mask {
			background-color: $leafBlue;
		}
	}

	.title-diviser .cart-finish {
		margin-right: 0px;
		position: absolute;
		bottom: 0px;
		right: 0px;
	}

	.header div {
		background-color: $leafBlue;
		color: white;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.product:not(:last-child) {
		border-bottom: 1px solid $leafLineGrey;
	}

	.product div {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.cart-prod-image {
		width: 100%;
	}

	.cart-price {
		text-align: right;
	}

	.product .product-quantity, .column-center {
		text-align: center;
	}

	.column-right {
		text-align: right;
	}

	.cart-footer {
		margin-bottom: 50px;
	}

	.cart-footer .column-right {
		padding-right: 20px;
	}

	.cart-subtotal {
		padding: 10px 0px;
		background-color: #eee;
	}

	.cart-tax {
		padding: 10px 0px;
		border-bottom: 1px solid $leafLineGrey;
	}

	.cart-total {
		padding: 10px 20px;
		margin: 0 0 20px;

		.column-right {
			padding: 0px;
		}
	}
}