body {
	font-family: latoregular;
}

.error-jumbo {
	margin-top: 100px;
	font-family: Arial;
}

.title-diviser {
	color: $leafDarkYellow;
	border-bottom: 1px solid $leafLineGrey;
	padding: 10px 20px;
	font-size: 30px;
	position: relative;

	.pc-pager {
		position: absolute;
		right: 0px;
		bottom: 0px;
	}
}

.padding-paragraph p {
	padding: 10px 20px;
}

.other-menus div {
	min-height: 150px;
}

.social {
	padding-left: 20px;

	li {
		list-style: none;
		display: inline-block;

		a {
			display: inline-block;
			padding: 12px;
			line-height: 20px;
			font-size: 22px;
			background-color: grey;
			color: white;
		}
	}

	li.facebook a {
		background-color: $leafFacebook;
	}
}

//dropdown
.dropdown-menu .dropdown-extra {
	border-bottom: 1px solid $leafLineGrey;

	a {
		display: block;
		width: 300px;
		padding: 15px;
		overflow: hidden;
	}

	.dropdown-image {
		width: 76px;
		height: 76px;
		float: left;
		margin-right: 15px;
	}

	.dropdown-title {
		display: block;
		color: blue;
		font-size: 16px;
	}

	.dropdown-desc {
		color: #454545;
		display: block;
		white-space: pre-line;
		line-height: 12px;
		margin-bottom: 7px;
		font-size: 14px;
	}

	.dropdown-more {
		display: block;
		float: left;
		background-color: $leafBlue;
		padding: 3px 20px;
		font-size: 12px;
		color: white;
	}
}

.pc-pager {
	.pc-page-left, .pc-page-right {
		display: inline-block;
		background-color: $leafGrey;
		padding: 15px;
		color: white;
		margin-left: 1px;
		-webkit-transition: background-color $midAnimations ease-in-out;
		-moz-transition: background-color $midAnimations ease-in-out;
		transition: background-color $midAnimations ease-in-out;

		&:hover {
			background-color: $leafBlue;
		}
	}

	.pc-page-left {
		float: left;
	}

	.pc-page-right {
		float: right;
	}

	&.carousel-previous-disabled .pc-page-left {
		background-color: $leafLineGrey;
	}

	&.carousel-next-disabled .pc-page-right {
		background-color: $leafLineGrey;
	}
}

// products-carousel
$pcItemsSpace: 15px;

.pc {
	overflow: hidden;

	.pc-walker {
		width: 100%;
		display: flex;
		-webkit-transition: margin-left 300ms ease-in-out;
		-moz-transition: margin-left 300ms ease-in-out;
		-ms-transition: margin-left 300ms ease-in-out;
		transition: margin-left 300ms ease-in-out;
	}

	.pc-holder {
		display: flex;
		float: left;
		flex: 1 0 100%;
		height: 100%;
		margin-right: $pcItemsSpace;
	}

	.pc-item {
		flex: 1;
		max-width: 370px;
		display: block;
		margin-right: $pcItemsSpace;
		position: relative;

		img {
			width: 100%;
		}

		&:last-child {
			margin-right: 0px;
		}

		&:hover {
			.pc-price {
				opacity: 1;
			}

			.pc-price-bg {
				opacity: 0.8;
			}
		}
	}

	.pc-price {
		display: block;
		position: absolute;
		background-color: $leafDarkGrey;
		color: white;
		top: 50%;
		right: 5%;
		opacity: 0;
		-webkit-transition: opacity $slowAnimations ease-in-out;
		-moz-transition: opacity $slowAnimations ease-in-out;
		-ms-transition: opacity $slowAnimations ease-in-out;
		transition: opacity $slowAnimations ease-in-out;
		-webkit-transform: translate(0, -50%);
		-moz-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
		transform: translate(0, -50%);
	}

	.pc-price-icon {
		display: block;
		float: left;
		background-color: $leafGrey;
		padding: 15px;
		font-size: 28px;
		line-height: 20px;
	}

	.pc-price-number {
		display: block;
		float: left;
		padding: 16px 20px;
		font-size: 25px;
		line-height: 26px;
	}

	.pc-price-bg {
		background-color: $leafDarkBlue;
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		top: 0px;
		left: 0px;
		opacity: 0;
		-webkit-transition: opacity 200ms ease-in-out;
		-moz-transition: opacity 200ms ease-in-out;
		-ms-transition: opacity 200ms ease-in-out;
		transition: opacity 200ms ease-in-out;
	}
}

//highlight
.highlight {
	display: flex;

	.hg-right-holder {
		display: flex;
		width: 494px;
		flex-direction: column;
	}

	.hg-left, .hg-right-top, .hg-right-bottom {
		display: block;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;
	}

	.hg-left {
		width: 670px;
		height: 570px;
		margin-right: 5px;
	}

	.hg-right-top {
		width: 494px;
		height: 320px;	
		margin-bottom: 5px;
		order: 1;
	}

	.hg-right-bottom {
		width: 494px;
		height: 245px;
		order: 2;
	}

	.hg-title {
		display: block;
		width: 350px;
		padding: 20px;
		position: absolute;
		bottom: 10%;
		left: 0px;
		background-color: rgba($leafDarkBlue, 0.8);
		text-transform: uppercase;
		-webkit-transition: background-color 150ms ease-in-out;
		-moz-transition: background-color 150ms ease-in-out;
		-ms-transition: background-color 150ms ease-in-out;
		transition: background-color 150ms ease-in-out;
	}

	.hg-title strong {
		display: block;
		color: $leafYellow;
		font-size: 50px;
		font-family: Georgia;
		font-weight: normal;
		line-height: 42px;
	}

	.hg-title span {
		font-size: 13px;
		color: white;
	}

	.hg-right-top .hg-title strong, .hg-right-bottom .hg-title strong {
		font-size: 35px;
	}

	.hg-left:hover, .hg-right-top:hover, .hg-right-bottom:hover {
		.hg-title {
			background-color: rgba($leafDarkBlue, 1);
		}
	}
}

.spined {
	font-size: 30px;
	line-height: 100%;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 1000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 1000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.product-add-to-cart .loading .spined {
	color: $leafBlue;
	font-size: 30px;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}