.header {
	h1 {
		display: block;
		margin: 10px;
	}

	.top-search {
		margin-top: 20px;
	}
}

.top-search {
	background-color: $leafGrey;
	padding: 5px 0px;

	.top-search-button {
		padding-left: 0px;
		padding-right: 0px;

		.icon {
			color: white;
			font-size: 40px;
		}
	}

	.top-search-input {
		padding-right: 0px;

		input {
			padding: 16px 5px;
			height: auto;
			font-size: 18px;
		}
	}
}

.categories {
	background-color: $leafBlue;
	border-radius: 0px;
	border: none;

	.navbar-nav li a {
		color: white;
	}

	.navbar-nav li.active a {
		background-color: lighten($leafBlue, 5%);
		color: white;
	}

	.navbar-nav li a .icon {
		font-size: 20px;
		float: left;
		margin-right: 6px;
		color: darken($leafBlue, 20%);
	}
}