#content.container {
	padding-top: 50px;
}

.order fieldset {
	margin-bottom: 15px;
}

.header-holder {
	width: 100%;
	height: 50px;
	position: relative;

	.header-message-bar {
		position: fixed;
		z-index: 1030;
		top: 0px;
		left: 50%;
		transform: translate(-50%, 0%);
		opacity: 0;
		visibility: hidden;
		-webkit-transition: all 150ms ease-in-out;
		-moz-transition: all 150ms ease-in-out;
		transition: all 150ms ease-in-out;

		&.messaging {
			top: 25px;
			opacity: 1;
			visibility: visible;
		}
	}
}

.form-group.select {
	position: relative;
}

.grid-wrapper {
	position: relative;
}

.dropzone {
	width: 100%;
	height: 100px;
	border: 2px solid #D2D2D2;
	border-radius: 5px;
}

.marching-ants {
	background-size: 20px 2px, 20px 2px, 2px 20px, 2px 20px;
	background-position: 0 0,  0 100%,  0 0,  100% 0;
	background-repeat: repeat-x,  repeat-x,  repeat-y,  repeat-y;
	-webkit-animation: marching-ants-1 1s;
	animation: marching-ants-1 1s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
}

&.marching {
	border: none;
	padding: 2px;
	-webkit-animation-play-state: running;
	animation-play-state: running;
	background-image: linear-gradient(to right, #fff 50%, #444 50%), linear-gradient(to right, #fff 50%, #444 50%), linear-gradient(to bottom, #fff 50%, #444 50%), linear-gradient(to bottom, #fff 50%, #444 50%);
}

.toolbar-grid h1 {
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}

.empty-state {
	padding: 40px;
	background-color: #eee;
	text-align: center;
	border-radius: 5px;
	margin-top: 20px;

	p {
		color: #717171;
		font-style: italic;
		font-size: 20px;
	}
}

@-webkit-keyframes marching-ants-1 {
	0% {
		background-position: 0 0,  0 100%,  0 0,  100% 0;
	}
	100% {
		background-position: 40px 0, -40px 100%, 0 -40px, 100% 40px;
	}
}

@keyframes marching-ants-1 {
	0% {
		background-position: 0 0,  0 100%,  0 0,  100% 0;
	}
	100% {
		background-position: 40px 0, -40px 100%, 0 -40px, 100% 40px;
	}
}
@-webkit-keyframes marching-ants-2 {
	0% {
		background-position: 0 0,  0 100%,  0 0,  100% 0;
	}
	100% {
		background-position: 40px 0, -40px 100%, 0 -40px, 100% 40px;
	}
}
@keyframes marching-ants-2 {
	0% {
		background-position: 0 0,  0 100%,  0 0,  100% 0;
	}
	100% {
		background-position: 40px 0, -40px 100%, 0 -40px, 100% 40px;
	}
}
@-webkit-keyframes marching-ants-3 {
	0% {
		background-position: 0 0,  0 100%,  0 0,  100% 0;
	}
	100% {
		background-position: 40px 0, -40px 100%, 0 -40px, 100% 40px;
	}
}
@keyframes marching-ants-3 {
	0% {
		background-position: 0 0,  0 100%,  0 0,  100% 0;
	}
	100% {
		background-position: 40px 0, -40px 100%, 0 -40px, 100% 40px;
	}
}