#content.container {
	padding-top: 50px;
}

.header-holder {
	width: 100%;
	height: 50px;
	position: relative;

	.header-message-bar {
		position: fixed;
		z-index: 1030;
		top: 0px;
		left: 50%;
		transform: translate(-50%, 0%);
		opacity: 0;
		visibility: hidden;
		-webkit-transition: all 150ms ease-in-out;
		-moz-transition: all 150ms ease-in-out;
		transition: all 150ms ease-in-out;

		&.messaging {
			top: 25px;
			opacity: 1;
			visibility: visible;
		}
	}
}

.form-group.select {
	position: relative;
}

.grid-wrapper {
	position: relative;
}