.image-uploader {
	width: 100%;
	display: flex;
	margin-bottom: 10px;

	.loaded-images {
		flex: 2 0 70%;
		margin-right: 10px;
		background-color: #F5F5F5;
		position: relative;
		border-radius: 5px;
		display: flex;
		flex-wrap: wrap;

		.record-image {
			flex: 1 0 150px;
			max-width: 150px;
			margin: 5px;
		}

		.record-image a {
			display: block;
		}

		.record-image img {
			width: 100%;
			border-radius: 5px;
		}
	}

	.dropzone {
		flex: 1 0 30%;
		width: auto;
		background-color: #eee;
		position: relative;
	}

	span.legend {
		font-size: 18px;
		text-transform: uppercase;
		font-weight: bold;
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #ccc;
		pointer-events: none;
		-webkit-user-select: none; /* Chrome/Safari */
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none;
	}
}