
/* Color variables */
$leafBlue: #05aecd;
$leafRed: #ef5966;
$leafGrey: #663333;
$leafYellow: #ffff66;
$leafLineGrey: #dbd9d9;
$leafListGrey: #676767;
$leafDarkYellow: #999933;
$leafDarkGrey: #323232;
$leafDarkBlue: #362a4f;
$leafFacebook: #39599f;
$leafCheckGreen: #279d4b;
$leafErrorRed: #df2d29;

$slowAnimations: 300ms;
$midAnimations: 230ms;
$fastAnimations: 150ms;