<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
	<link rel="stylesheet" type="text/css" href="style/lato/lato.css" />
	<link rel="stylesheet" type="text/css" href="build/css/app.css" />
</head>
<body>
	<div id="wrapper" class="container">
		{{> header}}

		{{> menu}}

		{{> content}}

		<div class="our-products padding-paragraph">
			<h2 class="title-diviser">
				Novos produtos
				<div class="pc-pager" data-pc-pager="our-products">
					<a href="#" class="pc-page-left"><svg class="icon icon-leaf"><use xlink:href="img/iconmoon/symbol-defs.svg#icon-chevron-thin-left"></use></svg></a>
					<a href="#" class="pc-page-right"><svg class="icon icon-leaf"><use xlink:href="img/iconmoon/symbol-defs.svg#icon-chevron-thin-right"></use></svg></a>
				</div>
			</h2>
			
			<!-- products carousel -->
			{{> carousel}}
		</div>

		{{> who}}

		{{> othermenus}}

		<div class="copyright line-bottom-grey line-top-grey">
			<p class="pull-right">Desenvolvido por Braw.ani</p>
			<address>Copyright &copy; 2015 Leaf, All right reserved</address>
		</div>
	</div>
	
	<script type="text/javascript" src="vendor/system.js/dist/system.js"></script>
	<script type="text/javascript" src="vendor/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="vendor/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
	<script type="text/javascript">
		System.config({
			baseURL: 'js',
			defaultJSExtensions: true,
			format: 'cjs',
			map: {
				'Fluxxor': '/vendor/fluxxor/build/fluxxor.min.js',
				'handlebars': '/vendor/handlebars/handlebars.runtime.min.js'
			}
		});

		System.import('main.js');
	</script>
</body>
</html>