<!DOCTYPE html>
<html>
<head>
	<title>Leaf</title>
	<link rel="stylesheet" type="text/css" href="/build/css/app.css" />
</head>
<body>
	<div id="wrapper" class="container">
		{{> header}}

		{{> menu}}

		{{> content}}

		<div class="our-products padding-paragraph">
			<h2 class="title-diviser">
				Novos produtos
				<div class="pc-pager" data-pc-pager="our-products">
					<a href="#" class="pc-page-left"><span class="icon icon-chevron-thin-left"></span></a>
					<a href="#" class="pc-page-right"><span class="icon icon-chevron-thin-right"></span></a>
				</div>
			</h2>
			
			<!-- products carousel -->
			{{> carousel}}
		</div>

		{{> who}}

		{{> othermenus}}

		<div class="copyright line-bottom-grey line-top-grey">
			<p class="pull-right">Desenvolvido por Braw.ani</p>
			<address>Copyright &copy; 2015 Leaf, All right reserved</address>
		</div>
	</div>

	<div class="temporary-place"></div>
	
	<script type="text/javascript" src="/vendor/system.js/dist/system.js"></script>
	<script type="text/javascript" src="/js/loaderConfiguration.js"></script>
	<script type="text/javascript">
		System.import('main.js');
	</script>
</body>
</html>