<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
	<link rel="stylesheet" type="text/css" href="style/lato/lato.css" />
	<link rel="stylesheet" type="text/css" href="build/css/app.css" />
</head>
<body>
	<div id="wrapper" class="container">
		<div class="header row">
			<div class="col-lg-2 col-md-2 col-sm-12">
				<h1><a href="#"><img src="img/logo.svg" alt="Leaf" /></a></h1>
			</div>
			<div class="col-lg-6 col-md-5 col-sm-6">
				<form class="top-search row" action="#" id="{{id}}">
					<div class="top-search-input col-lg-10 col-md-10 col-sm-8 col-xs-10">
						<input type="text" name="search" id="search" class="form-control" placeholder="Procure seu produto (ex: biscoito de chocolate)" />
					</div>
					<div class="top-search-button col-lg-2 col-md-2 col-sm-4 col-xs-2">
						<button type="submit" class="btn btn-link btn-block"><svg class="icon"><use xlink:href="img/iconmoon/symbol-defs.svg#icon-search"></use></svg></button>
					</div>
				</form>
			</div>
			<div class="col-lg-4 col-md-5 col-sm-6">
				<ul class="nav nav-pills pull-right top-menu">
					<li role="presentation" class="active"><a href="#">Registrar</a></li>
					<li role="presentation" ><a href="#">Fazer login</a></li>
					<li role="presentation" ><a href="#">Carrinho <svg class="icon icon-leaf"><use xlink:href="img/iconmoon/symbol-defs.svg#icon-shopping-cart"></use></svg></a></li>
				</ul>
			</div>
		</div>

		<nav class="navbar navbar-default categories">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <ul class="nav navbar-nav">
				<li class="active">
					<a href="#">
						<svg class="icon icon-leaf"><use xlink:href="img/iconmoon/symbol-defs.svg#icon-leaf"></use></svg> 
						<span class="nav-text">Link</span>
					</a>
				</li>
				<li><a href="#"><svg class="icon icon-leaf"><use xlink:href="img/iconmoon/symbol-defs.svg#icon-leaf"></use></svg> <span class="nav-text">Link</span></a></li>
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><svg class="icon icon-leaf"><use xlink:href="img/iconmoon/symbol-defs.svg#icon-leaf"></use></svg> <span class="nav-text">Dropdown</span> <span class="caret"></span></a>
				  <ul class="dropdown-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#">Separated link</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#">One more separated link</a></li>
				  </ul>
				</li>
			  </ul>
			</div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

		<div class="highlight">
			<a href="#" class="hg-left" style="background-image:url('img/graos.jpg');">
				<span class="hg-title">
					<strong>Grãos</strong>
					<span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem</span>
				</span>
			</a>
			<div class="hg-right-holder">
				<a href="#" class="hg-right-top" style="background-image:url('img/graos.jpg');">
					<span class="hg-title">
						<strong>Torradas</strong>
						<span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem</span>
					</span>
				</a>
				<a href="#" class="hg-right-bottom" style="background-image:url('img/graos.jpg');">
					<span class="hg-title">
						<strong>Promoções</strong>
						<span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem</span>
					</span>
				</a>
			</div>
		</div>

		<div class="our-products padding-paragraph">
			<h2 class="title-diviser">
				Novos produtos
				<div class="pc-pager" data-pc-pager="our-products">
					<a href="#" class="pc-page-left"><svg class="icon icon-leaf"><use xlink:href="img/iconmoon/symbol-defs.svg#icon-chevron-thin-left"></use></svg></a>
					<a href="#" class="pc-page-left"><svg class="icon icon-leaf"><use xlink:href="img/iconmoon/symbol-defs.svg#icon-chevron-thin-right"></use></svg></a>
				</div>
			</h2>
			
			<!-- products carousel -->
			<div class="pc" id="our-products">
				<div class="pc-walker">
					<div class="pc-holder" data-page="1">
						<a href="#" class="pc-item">
							<span class="pc-price-bg"></span>
							<span class="pc-price"><span class="pc-price-icon"><svg class="icon icon-leaf"><use xlink:href="img/iconmoon/symbol-defs.svg#icon-shopping-cart"></use></svg></span> <span class="pc-price-number">$9,<sup>99</sup></span></span>
							<img src="img/cookie.jpg" alt="Cookie" />
						</a>
						<a href="#" class="pc-item">
							<span class="pc-price-bg"></span>
							<span class="pc-price"><span class="pc-price-icon"><svg class="icon icon-leaf"><use xlink:href="img/iconmoon/symbol-defs.svg#icon-shopping-cart"></use></svg></span> <span class="pc-price-number">$9,<sup>99</sup></span></span>
							<img src="img/cookie.jpg" alt="Cookie" />
						</a>
						<a href="#" class="pc-item">
							<span class="pc-price-bg"></span>
							<span class="pc-price"><span class="pc-price-icon"><svg class="icon icon-leaf"><use xlink:href="img/iconmoon/symbol-defs.svg#icon-shopping-cart"></use></svg></span> <span class="pc-price-number">$9,<sup>99</sup></span></span>
							<img src="img/cookie.jpg" alt="Cookie" />
						</a>
					</div>
					<div class="pc-holder" data-page="2">
						<a href="#" class="pc-item">
							<span class="pc-price-bg"></span>
							<span class="pc-price"><span class="pc-price-icon"><svg class="icon icon-leaf"><use xlink:href="img/iconmoon/symbol-defs.svg#icon-shopping-cart"></use></svg></span> <span class="pc-price-number">$9,<sup>99</sup></span></span>
							<img src="img/cookie.jpg" alt="Cookie" />
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="who padding-paragraph line-bottom-grey">
			<h2 class="title-diviser">Quem somos</h2>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		</div>

		<div class="other-menus row">
			<div class="col-lg-3 col-md-3 col-sm-6">
				<h2>Compre conosco</h2>
				<ul class="menu-list">
					<li><a href="#">Por que comprar conosco?</a></li>
					<li><a href="#">Como comprar</a></li>
					<li><a href="#">Forma de entrega</a></li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6">
				<h2>Informações</h2>
				<ul class="menu-list">
					<li><a href="#">Nossa história</a></li>
					<li><a href="#">Entre em contato</a></li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6">
				<h2>Junte-se à nós</h2>
				<ul class="menu-list">
					<li><a href="#">Por que ser um representante?</a></li>
					<li><a href="#">Como ser um representante</a></li>
					<li><a href="#">Envie seu currículo</a></li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-6">
				<h2>Conecte-se</h2>
				<ul class="social">
					<li class="facebook"><a href="#"><svg class="icon icon-leaf"><use xlink:href="img/iconmoon/symbol-defs.svg#icon-facebook"></use></svg></a></li>
				</ul>
			</div>
		</div>

		<div class="copyright line-bottom-grey line-top-grey">
			<p class="pull-right">Desenvolvido por Braw.ani</p>
			<address>Copyright &copy; 2015 Leaf, All right reserved</address>
		</div>
	</div>
	
	<script type="text/javascript" src="vendor/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="vendor/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
</body>
</html>