<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
	<link rel="stylesheet" type="text/css" href="build/css/app.css" />
</head>
<body>
	<div id="wrapper" class="container">
		<div class="header-wrapper"></div>

		<div class="who">
			<h2>Quem somos</h2>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		</div>

		<div class="other-menus row">
			<div class="col-lg-3">
				<h2>Compre conosco</h2>
				<ul>
					<li><a href="#">Por que comprar conosco?</a></li>
					<li><a href="#">Como comprar</a></li>
					<li><a href="#">Forma de entrega</a></li>
				</ul>
			</div>
			<div class="col-lg-3">
				<h2>Informações</h2>
				<ul>
					<li><a href="#">Nossa história</a></li>
					<li><a href="#">Entre em contato</a></li>
				</ul>
			</div>
			<div class="col-lg-3">
				<h2>Junte-se à nós</h2>
				<ul>
					<li><a href="#">Por que ser um representante?</a></li>
					<li><a href="#">Como ser um representante</a></li>
					<li><a href="#">Envie seu currículo</a></li>
				</ul>
			</div>
			<div class="col-lg-3">
				<h2>Conecte-se</h2>
				<ul class="social">
					<li class="facebook"><a href="#">Facebook</a></li>
				</ul>
			</div>
		</div>

		<div class="copyright">
			<p>Desenvolvido por Braw.ani</p>
			<address>Copyright &copy; 2015 Leaf, All right reserved</address>
		</div>
	</div>
	
	<script type="text/javascript" src="vendor/system.js/dist/system.js"></script>
	<script type="text/javascript" src="vendor/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="vendor/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
	<script type="text/javascript">
		System.config({
			baseURL: 'js',
			defaultJSExtensions: true,
			format: 'cjs',
			map: {
				'Fluxxor': '/vendor/fluxxor/build/fluxxor.min.js',
				'handlebars': '/vendor/handlebars/handlebars.runtime.min.js'
			}
		});

		System.import('main.js');
	</script>
</body>
</html>